# $$Introduction\;to\;Python\;$$
## $$for\;DataScience\;and\;Machine\;Learning$$

# *Index*

       1. Tricks of jupyter notebook and Markdown
       2. Basics of Python
       3. DataFrame
           Bunch Objects
       4. Tuples
       5. Data Structures: Arrays, Numpy arrays, Lists, Dictionaries, Tuples, Sets
       6. Plot

# 1.  Tricks of jupyter notebook and Markdown

- shifth + tab : To see information from a function put the mouse in its name an press those buttons

All of this markup notation comes from LaTex

- *italics*, **bold**, `code`
- For the title we use # Title and then shift+enter or ##  or  ### that changes the boldness and size
- For mathematical ecuations: $f(x) = a + b $ and then shifth+enter ($$ if you want it in the center)
- If you want spaces in the math equation: \; or \: or \, (from big to small)

Links to pages:
[Source: Original research paper](https://deepblue.lib.umich.edu/bitstream/handle/2027.42/22636/0000186.pdf?sequence=1&isAllowed=y)

# 2. Basics of python

- print('a \n', b) if you want b in the next line 
- to execute CMD we use \%, ex: \% ls -l ..\
- to execute python commands, we use !, ex: \!pip install sklearn

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [3]:
b = 1 // 3
print (type(b+1))
# print (3%0)

<class 'int'>

In [41]:
import math
print(math.pi)

3.141592653589793

In [6]:
my_list = [1,2,3]
print('The first element is:', my_list[0])
print(f'The first element is: {my_list[0]}')

The first element is: 1
The first element is: 1

In [5]:
from time import strftime

personalized_string = f'It is {strftime("%H:%M")}'
print(personalized_string)

It is 15:27

In [2]:
# How to print actual information of our funtion

for i in range(3):
    for j in range(3):
        print(f'value of i is {i} and j is {j}') #print(f'..{value}..')

value of i is 0 and j is 0
value of i is 0 and j is 1
value of i is 0 and j is 2
value of i is 1 and j is 0
value of i is 1 and j is 1
value of i is 1 and j is 2
value of i is 2 and j is 0
value of i is 2 and j is 1
value of i is 2 and j is 2

In [8]:
# empty vble:

my_var = None
type(my_var)

NoneType

In [ ]:
# Create directory
# try


# From 10_Neural_Keras...
import os

LOG_DIR = ...
model = ...

def get_tensorboard(model_name):

    folder_name = f'{model_name} at {strftime("%H %M")}' #To print the hour -> search for strftime behavior python.org
    dir_paths = os.path.join(LOG_DIR, folder_name) #Create the path #os module: operating system

    #Now we are going to create a directory including a subdirectory, that is, 2 folders.
    try:
        os.makedirs(dir_paths) #this create the directory, with the subdirectory
                               #but if you created it before, it may get an error, that is why we use try. 
    except OSError as err:     #If it has this error, we convert it into string and print it
        print(err.strerror)
    else:
        print('Successfully created directory')

    return TensorBoard(log_dir=dir_paths)

In [ ]:
# nested loops and itertools product
import itertools

#class 169, min 16:35

# 3. DataFrame

In [6]:
import pandas as pd
from pandas import DataFrame

In [7]:
data = pd.read_csv('lsd_math_score_data.csv')
type(data)

pandas.core.frame.DataFrame

### 3.1 Visualizaci√≥n del Dataframe

In [8]:
#No hace falta poner print
data

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [22]:
# To access a COLUMN, just put its name:
data.LSD_ppm
# Or the same:
data['LSD_ppm']

0    13.00
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41
Name: LSD_ppm, dtype: float64

In [23]:
#Note that it is not a dataframe
# We see how to work with this later (3.3)
type(data['LSD_ppm'])

pandas.core.series.Series

In [20]:
# To access a VALUE:

# OP A:
#    [2 (name of that index), name of the column]
data.at[2,'Avg_Math_Test_Score']

# OP B:
#    by position
data.iat[2, 2]

# Error 1:
#data[2, 'Avg_Math_Test_Score']

# Error 2: 
#data.at['Avg_Math_Test_Score', 2]
# yo: Los data frames se almacenan por l√≠neas y
#     cada l√≠nea es un diccionario con sus clave valor

67.47

In [15]:
# If you want to select MORE THAN ONE VALUE you can use:
data.iloc[2:5] #Note that the first entry has index 0

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65

In [16]:
data.LSD_ppm.iloc[2:5]

2    3.26
3    4.69
4    5.83
Name: LSD_ppm, dtype: float64

### 3.2 Modify or create new DataFrames

In [15]:
# Nuevo dataframe con s√≥lo una de las columnas:
X = DataFrame(data, columns = ['LSD_ppm'])
X

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

In [5]:
# MODIFICAR UN DATAFRAME
print(data)
#Create a new column
data['High_Score'] = 100
print(data)
#Overwrite values in rows for High_Score to equal average score + 100
data['High_Score'] = data['High_Score'] + data['Avg_Math_Test_Score']
print(data)
#Delete a column
del data['High_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97
   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93         100
1                     15     2.97                58.20         100
2                     30     3.26                67.47         100
3                     60     4.69                37.47         100
4                    120     5.83                45.65         100
5                    240     6.00                32.92         100
6                    480     6.41                29.97         100
   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93      178.93
1                     15     2.97                58.20      158.20
2                     30     3.26                67.47      167.47
3                     60     4.69                37.47      137.47
4                    120     5.83                45.65      145.65
5                    240     6.00                32.92      132.92
6                    480     6.41                29.97      129.97
   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [9]:
# Look from 05 Bayes Classifier:
#    Remove System File Entries from Dataframe
#    Add Documents ID's to track emails in dataset
# It explains how to UPDATE (inplace) datasets and how to change the index
# inplace

In [18]:
data['LSD_ppm'][0]=13.
print(data['LSD_ppm'][0])

13.0

<ipython-input-18-1c5fa7d6ad49>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['LSD_ppm'][0]=13.

### 3.3 Series, how to work with them

In [24]:
#How to get one of the columns
lsd = data['LSD_ppm']
avg = data['Avg_Math_Test_Score']

print(lsd)
print('The type of lsd is: ',type(lsd)) #Not a DataFrame!!!

0    13.00
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41
Name: LSD_ppm, dtype: float64
The type of lsd is:  <class 'pandas.core.series.Series'>

In [31]:
#To see how many elementes share their value:
data['LSD_ppm'].value_counts()    #This is also a series, so to pick one column we can:
#We can see that there is only one element with those values

6.41     1
3.26     1
5.83     1
4.69     1
2.97     1
6.00     1
13.00    1
Name: LSD_ppm, dtype: int64

In [29]:
data['LSD_ppm'].value_counts().index
#data['LSD_ppm'].value_counts().axes[0]  #The same as above

# Note thas if you want the values perse
# ([1, 1, 1, ...] in this case), that is the series itself, 
# What we made before was to get the indices
# This would give an error:
#data['LSD_ppm'].value_counts().axes[1]

Float64Index([6.41, 3.26, 5.83, 4.69, 2.97, 6.0, 13.0], dtype='float64')

In [40]:
# Create a list called columnList.
# Put 'LSD_ppm' and 'Avg_Math_Test_Score' inside.

columnList = ['LSD_ppm', 'Avg_Math_Test_Score']
#print('The list of colums is: ', columnList)
#print('The second element of the list is: ', columnList[1])

# Create a new DataFrame:

#cleanData = data[['LSD_ppm', 'Avg_Math_Test_Score']]
cleanData = data[columnList]
print(cleanData)
print('The type of cleanData is: ',type(cleanData))

y = data[['Avg_Math_Test_Score']]
print('The type of y is: ',type(y))
x = data['Avg_Math_Test_Score']
print('The type of x is: ',type(x))

   LSD_ppm  Avg_Math_Test_Score
0    13.00                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97
The type of cleanData is:  <class 'pandas.core.frame.DataFrame'>
The type of y is:  <class 'pandas.core.frame.DataFrame'>
The type of x is:  <class 'pandas.core.series.Series'>

## Bunch objects

In [9]:
from sklearn.datasets import load_boston #We take a dataset from Python libraries to practice
boston_dataset = load_boston() #This is the function that return dataset, and store it in boston_dataset
type(boston_dataset)

sklearn.utils.Bunch

In [10]:
#Look at 04 Multivariable Regression, we see all of the information and then we create a pandas dataframe with it

# 4. Python Tuples

In [45]:
#1. They can hold different types -> HETEROGENEOUS
breakfast = 'bacon', 'eggs', 7      
print(breakfast[2])

#2. They cannot be changed, this would raise an error:
#breakfast[0]= 'hii'                

#3. One single value in a tuple: 
tuple_single_value = 'hi',          
#type(tuple_single_value)

#4. Sequence unpacking
main, side, hour = breakfast        
print('the main couse is ' + main)
#type(main)

7
the main couse is bacon

# 5.  Arrays, Numpy Arrays and Lists, Sets

### Set
> used in 05 Bayes classifier  

> A ***set*** is an unordered list where the elements are not repeated,  
> so it comes really handy for checking membership or looking for differences (is this element in this list?)

### Advanced Numpy Array Practice:
Methods and techniques for working with multi-dimensional arrays

In [13]:
import numpy as np

In [14]:
#dummy array:
new_member = np.array([['J-hope', 'dancer']]) #1 row,, 2 columns (2 dim)
print('The type of the np.array is: ', type(new_member), ' ,that is a numpy n dimensional array ')
print('To see the dimensions we use: .shape , so we get: ',new_member.shape)


#diff forms to transpose:
reshape = np.array([['J-hope', 'dancer']]).transpose()
#reshape = np.array([['J-hope', 'dancer']]).reshape (2,1) #number of (rows, columns)
print(reshape.shape)

rap_line = np.array([['Suga', 'rapper'], ['RM', 'leader']])
print(rap_line.shape) #2 rows, 2 columns
print(rap_line[0][0])


#Add an element (vs 1) by rows:
rap_line_BTS = np.append(arr = rap_line, values = new_member, axis = 0) 
    #The axis is to add the values as a row(0) or as a column(1) 
print(rap_line_BTS) #(3rows, 2 columns)

#Add an element (vs 1) by columns:
#smthg = np.append(arr = rap_line, values = new_member.reshape(2,1), axis = 1)
#print(smthg) #(2rows, 3 columns)

print('Printing nicknames...', rap_line_BTS[:,0]) #take all the rows from the first column


#Add an element vs(2)
#rap_line_BTS = np.append(arr = rap_line_BTS, values = [['JK', 'vocal']], axis = 0)
rap_line_BTS = np.concatenate((rap_line_BTS,[['JK', 'vocal']] ),axis=0)
print('Printing roles...', rap_line_BTS[:,1])

The type of the np.array is:  <class 'numpy.ndarray'>  ,that is a numpy n dimensional array
To see the dimensions we use: .shape , so we get:  (1, 2)
(2, 1)
(2, 2)
Suga
[['Suga' 'rapper']
 ['RM' 'leader']
 ['J-hope' 'dancer']]
Printing nicknames... ['Suga' 'RM' 'J-hope']
Printing roles... ['rapper' 'leader' 'dancer' 'vocal']

# 7. Plot

Look at the different practices we made